:root {
    --font-size-general: 2rem;
    --border: 1px solid #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Acme', sans-serif;
}

h1 {
    margin: 0.75rem;
}

main {
    margin: 0.5rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

p {
    margin: 1rem;
}

a:active,
a:visited {
    color: navy;
}

a:hover {
    color: purple;
}

.datatable {
    width: 200px;
    margin-top: 2rem;
    border: var(--border);
}

.row {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    text-align: center;
}

.col {
    padding: 0.5rem;
    border: var(--border);
}

.col + .col {
    border-left: 0;
}

.col:first-child {
    border-left: 0;
}

.col:last-child {
    border-right: 0;
}

.row:first-child .col {
    border-top: 0;
}

.row + .row .col {
    border-top: 0;
}

.row:last-child .col {
    border-bottom: 0;
}

.row:last-child {
    background-color: #ccc;
}

/* Regla para el pseudoelemento marker */
ol li::marker {
    content: "✓ ";
    color: navy;
    font-size: var(--font-size-general);
}